In [25]:
import pandas as pd
from get_tickers import reload_tickers as rt
from get_tickers import reload_ticker_data as rdt
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
sp500_tickers = rt.reload_SP500_tickers()
ftse100_tickers = rt.reload_FTSE100_tickers()

In [ ]:
rdt.save_indexes()
rdt.save_tickers(sp500_tickers['Ticker'].to_list())
rdt.save_tickers(ftse100_tickers['Ticker'].to_list(),suffix='.L')

Downloading SP500
Downloading FTSE100
0/502
[*********************100%***********************]  1 of 1 completed
1/502
[*********************100%***********************]  1 of 1 completed
2/502
[*********************100%***********************]  1 of 1 completed
3/502
[*********************100%***********************]  1 of 1 completed
4/502
[*********************100%***********************]  1 of 1 completed
5/502
[*********************100%***********************]  1 of 1 completed
6/502
[*********************100%***********************]  1 of 1 completed
7/502
[*********************100%***********************]  1 of 1 completed
8/502
[*********************100%***********************]  1 of 1 completed
9/502
[*********************100%***********************]  1 of 1 completed
10/502
[*********************100%***********************]  1 of 1 completed
11/502
[*********************100%***********************]  1 of 1 completed
12/502
[*********************100%***********************]  1 of 1 completed
13/502
[*********************100%***********************]  1 of 1 completed

In [23]:

df = web.DataReader(['JMAT.L'],progress=False)

In [24]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1988-07-01,317.464691,317.464691,317.464691,317.464691,140.840363,0
1988-07-04,319.588806,319.588806,319.588806,319.588806,141.782730,0
1988-07-05,414.085114,414.085114,414.085114,414.085114,183.705185,0
1988-07-06,410.899506,410.899506,410.899506,410.899506,182.291885,0
1988-07-07,396.035614,396.035614,396.035614,396.035614,175.697617,0
...,...,...,...,...,...,...
2023-02-28,2165.000000,2183.000000,2143.000000,2182.000000,2182.000000,1456124
2023-03-01,2186.000000,2201.000000,2170.000000,2185.000000,2185.000000,347793
2023-03-02,2177.000000,2200.000000,2164.000000,2177.000000,2177.000000,743279
2023-03-03,2181.000000,2210.000000,2178.000000,2210.000000,2210.000000,331666
2023-03-06,2210.000000,2213.000000,2187.000000,2198.000000,2198.000000,40860